<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>An HTML project - Contact Page</h1>
    <p>
        I'm restating that I'm becoming a full-stack
        engineer. This page is an example of the first
        steps I'm doing to learn how to build pages
        and properly link them.
    </p>
    <p>
        My favorite magazine is https://www.Elektor.com
    </p>
    <div>
        <div>Circle 1</div>
        <div>Circle 2</div>
        <div>Circle 3</div>
        <div>Circle 4</div>
    </div>
</main>
<footer>
    <div>Copyright &copy; 2023 by me!</div>
    <div>I like pie</div>
</footer>
