* {
    box-sizing: border-box;
}

p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 100px;
    height: 100px;
    background-color: orange;
}

.has-green-background {
    background-color: green;
}

.has-thick-orange-border {
    border: 3px solid orange;
}
